@import './base.css';

#app {
  min-height: 100vh;
  background: #fff;
}

* {
  scrollbar-width: thin;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
